

.table {
  width: 800px;
  border: 1px solid;
  margin: 0 auto;
}

.task-col, .date-col {
  border: 1px solid;
  width: 60%;
  height: 40px;
}

.date-col {
  width: 20%;
}

.btn-col {
  border: 1px solid;
  width: 20%;
  height: 40px;
}