.app {
  text-align: center;
}
.btn {
  display: block;
  margin: 10px auto 0;
  width: 100px;
  height: 32px;
}

.in, .date-input{
  width: 180px;
  height: 32px;
  margin: 4px;
}

.task{
  margin: 8px;
}

